# Variables

In [ ]:
age = 16
print(age)
age += 1
print(age)

### Rules for variable names
- Always start with letter or _
- Can´t contain special characters
- Can use letters, numbers or _
- Python is case-sensitive
- Can´t be a Python reserverd word

### Lab 2-4-7

In [ ]:
john = 3
mary = 5
adam = 6

total_apples = john + mary + adam
print("Total Apples: ",total_apples)

### Shortcut operator
operator = operator operation value => operator operation= value

Ex: age = age + 5 => age += 5

In [24]:
variable = 2
#variable = variable + 5
variable += 5
variable = variable * 5 + 2
variable += 2 * 5 #Shortcut is the last operator
print(variable)

47

### Lab 2.4.9

In [26]:
kilometers = 12.25
miles = 7.38

miles_to_kilometers = miles * 1.61
kilometers_to_miles = kilometers / 1.61

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

7.38 miles is 11.88 kilometers
12.25 kilometers is 7.61 miles

### Lab 2.4.10

In [ ]:
x = 0
x = float(x)

y=3*(x**3)-2*(x**2)+3*x-1
print("y =", y)

y = -1.0